In [1]:
import pandas as pd
import numpy as np
from sqlite3 import connect
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
paises_migraciones=pd.read_csv(r'migration.csv')
paises_poblacion=pd.read_csv(r'population-and-demography.csv')

In [3]:
conn = connect(':memory:') 
paises_migraciones.to_sql('pam',conn,index=False)
paises_poblacion.to_sql('pap',conn,index=False)

18288

In [5]:
paises_migraciones_america=pd.read_sql('SELECT Year,Country,Emigrants,`International migrants`, `Net migration`, `Net migration rate` FROM pam WHERE Country IN ("Argentina","Belice","Bolivia", "Brazil","Canada","Colombia", "Costa Rica", "Cuba", "Chile", "Ecuador", "El Salvador", "Guatemala", "Haiti", "Honduras", "Jamaica", "Mexico", "Nicaragua", "Panama", "Paraguay", "Peru","Puerto Rico", "Republica Dominicana","United States","Uruguay","Venezuela","Antigua y Barbuda","Bahamas","Barbados","Dominica","Granada","Guyana","Jamaica","República Dominicana","San Cristobal y Nieves","San Vicente y las Granadinas","Santa Lucia")',conn)

In [6]:
paises_poblacion_america=pd.read_sql('SELECT `Country name`, Year, Population FROM pap WHERE `Country name` IN ("Argentina","Bolivia","Belice", "Brazil","Canada","Colombia", "Costa Rica", "Cuba", "Chile", "Ecuador", "El Salvador", "Guatemala", "Haiti", "Honduras", "Jamaica", "Mexico", "Nicaragua", "Panama", "Paraguay", "Peru","Puerto Rico", "Republica Dominicana","United States","Uruguay","Venezuela","Antigua y Barbuda","Bahamas","Barbados","Dominica","Granada","Guyana","Jamaica","República Dominicana","San Cristobal y Nieves","San Vicente y las Granadinas","Santa Lucia")',conn)

In [7]:
paises_migraciones_america

,Year,Country,Emigrants,International migrants,Net migration,Net migration rate
0,1955,Argentina,NaN,NaN,280091.0,3.127
1,1960,Argentina,NaN,NaN,140833.0,1.434
2,1965,Argentina,NaN,NaN,122000.0,1.144
3,1970,Argentina,NaN,NaN,130000.0,1.129
4,1971,Argentina,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
1325,2016,Venezuela,NaN,NaN,NaN,NaN
1326,2017,Venezuela,NaN,NaN,NaN,NaN
1327,2018,Venezuela,NaN,NaN,NaN,NaN
1328,2019,Venezuela,NaN,NaN,NaN,NaN
1329,2020,Venezuela,5415337.0,1324193.0,-3266243.0,-22.327

In [8]:
paises_poblacion_america

     Country name  Year  Population
0       Argentina  1950    17017748
1       Argentina  1951    17354614
2       Argentina  1952    17693856
3       Argentina  1953    18032748
4       Argentina  1954    18369248
...           ...   ...         ...
1939    Venezuela  2017    30563430
1940    Venezuela  2018    29825652
1941    Venezuela  2019    28971686
1942    Venezuela  2020    28490458
1943    Venezuela  2021    28199862

[1944 rows x 3 columns]

In [9]:
paises_migraciones_america.to_sql('a',conn,index=False)
paises_poblacion_america.to_sql('c',conn,index=False)

1944

In [10]:
tabla=pd.read_sql('SELECT a.Year,a.Country,a.Emigrants,a.`International migrants`,a.`Net migration`,a.`Net migration rate`,c.Population FROM a a JOIN c c ON(a.Year=c.Year AND a.`Country`=c.`Country name` )',conn)

In [11]:
tabla.dropna(inplace=True)
tabla.reset_index(drop=True, inplace=True)

In [12]:
tabla

,Year,Country,Emigrants,International migrants,Net migration,Net migration rate,Population
0,1990,Argentina,430155.0,1649919.0,160000.0,1.019,32637658
1,1995,Argentina,481968.0,1595069.0,-105000.0,-0.623,34946116
2,2000,Argentina,555542.0,1540219.0,-128000.0,-0.714,37070772
3,2005,Argentina,805291.0,1674163.0,-125000.0,-0.660,39070504
4,2010,Argentina,938639.0,1805957.0,-120000.0,-0.602,41100124
...,...,...,...,...,...,...,...
177,2000,Venezuela,317753.0,1013738.0,-4540.0,-0.039,24427732
178,2005,Venezuela,437087.0,1076474.0,-22740.0,-0.180,26668790
179,2010,Venezuela,560528.0,1347347.0,-200220.0,-1.460,28715026
180,2015,Venezuela,709140.0,1404448.0,-431040.0,-2.946,30529722
181,2020,Venezuela,5415337.0,1324193.0,-3266243.0,-22.327,28490458

In [13]:
tabla['relative migration']=tabla['Emigrants']/tabla['Population']

In [19]:
tabla['relative migration net']=tabla['Net migration']/tabla['Population']

In [21]:
tabla['Inmigrants']=tabla['Net migration']+tabla['Emigrants']

In [22]:
tabla

,Year,Country,Emigrants,International migrants,Net migration,Net migration rate,Population,relative migration,relative migration net,Inmigrants
0,1990,Argentina,430155.0,1649919.0,160000.0,1.019,32637658,0.013180,0.004902,590155.0
1,1995,Argentina,481968.0,1595069.0,-105000.0,-0.623,34946116,0.013792,-0.003005,376968.0
2,2000,Argentina,555542.0,1540219.0,-128000.0,-0.714,37070772,0.014986,-0.003453,427542.0
3,2005,Argentina,805291.0,1674163.0,-125000.0,-0.660,39070504,0.020611,-0.003199,680291.0
4,2010,Argentina,938639.0,1805957.0,-120000.0,-0.602,41100124,0.022838,-0.002920,818639.0
...,...,...,...,...,...,...,...,...,...,...
177,2000,Venezuela,317753.0,1013738.0,-4540.0,-0.039,24427732,0.013008,-0.000186,313213.0
178,2005,Venezuela,437087.0,1076474.0,-22740.0,-0.180,26668790,0.016389,-0.000853,414347.0
179,2010,Venezuela,560528.0,1347347.0,-200220.0,-1.460,28715026,0.019520,-0.006973,360308.0
180,2015,Venezuela,709140.0,1404448.0,-431040.0,-2.946,30529722,0.023228,-0.014119,278100.0
181,2020,Venezuela,5415337.0,1324193.0,-3266243.0,-22.327,28490458,0.190075,-0.114643,2149094.0

In [23]:
tabla.sort_values('relative migration net')

,Year,Country,Emigrants,International migrants,Net migration,Net migration rate,Population,relative migration,relative migration net,Inmigrants
160,2020,Puerto Rico,1850529.0,247132.0,-489932.0,-31.394,3271570,0.565639,-0.149754,1360597.0
91,1990,Guyana,233318.0,4095.0,-102648.0,-27.124,747124,0.312288,-0.137391,130670.0
181,2020,Venezuela,5415337.0,1324193.0,-3266243.0,-22.327,28490458,0.190075,-0.114643,2149094.0
93,2000,Guyana,362157.0,8610.0,-86647.0,-22.983,759059,0.477113,-0.114151,275510.0
94,2005,Guyana,392555.0,10868.0,-63249.0,-16.947,759713,0.516715,-0.083254,329306.0
...,...,...,...,...,...,...,...,...,...,...
38,2005,Canada,1185156.0,6078985.0,1052013.0,6.706,32215914,0.036788,0.032655,2237169.0
10,2005,Bahamas,34715.0,45531.0,11877.0,7.627,347815,0.099809,0.034147,46592.0
40,2015,Canada,1263552.0,7428657.0,1241416.0,7.076,35732120,0.035362,0.034742,2504968.0
11,2010,Bahamas,35990.0,54745.0,14536.0,8.553,373277,0.096416,0.038942,50526.0
39,2010,Canada,1268057.0,6761226.0,1326431.0,8.001,33963416,0.037336,0.039055,2594488.0

In [18]:
tabla.to_csv('tabla.csv')

In [24]:
grouped_single = tabla.groupby('Country').agg({'relative migration net': ['mean', 'std', 'max']})

In [31]:
grouped_single.count()

relative migration net  mean    26
                        std     26
                        max     26
dtype: int64

In [34]:
grouped_single=grouped_single.sort_values(('relative migration net', 'mean'),ascending=True)

In [35]:
grouped_single.to_csv('paises_prioridad.csv')

In [17]:
grouped_single.sort_values(('relative migration', 'std'),ascending=False)

              relative migration
                            mean       std       max
Country
Guyana                  0.496219  0.112848  0.637392
Puerto Rico             0.441310  0.074721  0.565639
Venezuela               0.040365  0.066194  0.190075
Jamaica                 0.332393  0.051653  0.396722
El Salvador             0.207697  0.038671  0.254112
Paraguay                0.103447  0.031011  0.136872
Haiti                   0.110594  0.028687  0.156514
Cuba                    0.109478  0.027411  0.155504
Ecuador                 0.052365  0.023476  0.076913
Honduras                0.061352  0.022516  0.097323
Bolivia                 0.056315  0.020242  0.077684
Mexico                  0.089952  0.019115  0.110326
Uruguay                 0.088944  0.015354  0.107043
Guatemala               0.057278  0.014391  0.078814
Bahamas                 0.105022  0.013252  0.132339
Peru                    0.033043  0.013002  0.045917
Barbados                0.349197  0.012715  0.366346
Colombia                0.045655  0.012193  0.059380
Panama                  0.042603  0.007612  0.054855
Nicaragua               0.101635  0.004763  0.106300
Argentina               0.018732  0.004580  0.023895
Costa Rica              0.026516  0.002717  0.029326
Brazil                  0.006188  0.001957  0.008899
Chile                   0.034284  0.001298  0.036951
Canada                  0.036160  0.001145  0.037336
United States           0.007780  0.000854  0.008919

In [421]:
grouped_single.sort_values(('relative migration', 'mean'),ascending=False)

              relative migration
                            mean       std       max
Country
Guyana                  0.496219  0.112848  0.637392
Puerto Rico             0.441310  0.074721  0.565639
Barbados                0.349197  0.012715  0.366346
Jamaica                 0.332393  0.051653  0.396722
El Salvador             0.207697  0.038671  0.254112
Haiti                   0.110594  0.028687  0.156514
Cuba                    0.109478  0.027411  0.155504
Bahamas                 0.105022  0.013252  0.132339
Paraguay                0.103447  0.031011  0.136872
Nicaragua               0.101635  0.004763  0.106300
Mexico                  0.089952  0.019115  0.110326
Uruguay                 0.088944  0.015354  0.107043
Honduras                0.061352  0.022516  0.097323
Guatemala               0.057278  0.014391  0.078814
Bolivia                 0.056315  0.020242  0.077684
Ecuador                 0.052365  0.023476  0.076913
Colombia                0.045655  0.012193  0.059380
Panama                  0.042603  0.007612  0.054855
Venezuela               0.040365  0.066194  0.190075
Canada                  0.036160  0.001145  0.037336
Chile                   0.034284  0.001298  0.036951
Peru                    0.033043  0.013002  0.045917
Costa Rica              0.026516  0.002717  0.029326
Argentina               0.018732  0.004580  0.023895
United States           0.007780  0.000854  0.008919

In [395]:
paises={}
for i in tabla['Country'].unique():
    paises[i]=np.std(tabla[tabla['Country']==i]['relative migration'].tolist())

In [401]:
paises

{'Argentina': 0.004240073451147163,
 'Bahamas': 0.012268737549367508,
 'Barbados': 0.011771795052779928,
 'Bolivia': 0.01874024067668076,
 'Canada': 0.001059963992752347,
 'Chile': 0.0012013698637107593,
 'Colombia': 0.01128865979146762,
 'Costa Rica': 0.0025154065658092185,
 'Cuba': 0.025377917732974927,
 'Ecuador': 0.021734342024696377,
 'El Salvador': 0.03580236698164238,
 'Guatemala': 0.013323202173271714,
 'Guyana': 0.10447710600658702,
 'Haiti': 0.026558885040512733,
 'Honduras': 0.020845455776552405,
 'Jamaica': 0.04782148380282079,
 'Mexico': 0.017696873262611407,
 'Nicaragua': 0.00440935319871298,
 'Panama': 0.007047377489598762,
 'Paraguay': 0.028710976939219614,
 'Peru': 0.012037706958101729,
 'Puerto Rico': 0.06917835343319743,
 'United States': 0.0007906019691074633,
 'Uruguay': 0.014215170549276752,
 'Venezuela': 0.061283636524937735}

In [399]:
desv= pd.DataFrame([[key, paises[key]] for key in paises.keys()], columns=['Pais', 'std'])

In [403]:
desv.sort_values('std',ascending=False)

             Pais       std
12         Guyana  0.104477
21    Puerto Rico  0.069178
24      Venezuela  0.061284
15        Jamaica  0.047821
10    El Salvador  0.035802
19       Paraguay  0.028711
13          Haiti  0.026559
8            Cuba  0.025378
9         Ecuador  0.021734
14       Honduras  0.020845
3         Bolivia  0.018740
16         Mexico  0.017697
23        Uruguay  0.014215
11      Guatemala  0.013323
1         Bahamas  0.012269
20           Peru  0.012038
2        Barbados  0.011772
6        Colombia  0.011289
18         Panama  0.007047
17      Nicaragua  0.004409
0       Argentina  0.004240
7      Costa Rica  0.002515
5           Chile  0.001201
4          Canada  0.001060
22  United States  0.000791

In [389]:
np.std(tabla[tabla['Country']=='Argentina']['relative migration'].tolist())

0.004240073451147163

In [391]:
result = tabla.groupby(['Country','relative migration']).aggregate(['mean', 'std'])
display(result)

,Year,Country,Emigrants,International migrants,Net migration,Net migration rate,Population,relative migration
0,1990,Argentina,430155.0,1649919.0,160000.0,1.019,32637658,0.013180
1,1995,Argentina,481968.0,1595069.0,-105000.0,-0.623,34946116,0.013792
2,2000,Argentina,555542.0,1540219.0,-128000.0,-0.714,37070772,0.014986
3,2005,Argentina,805291.0,1674163.0,-125000.0,-0.660,39070504,0.020611
4,2010,Argentina,938639.0,1805957.0,-120000.0,-0.602,41100124,0.022838
...,...,...,...,...,...,...,...,...
170,2000,Venezuela,317753.0,1013738.0,-4540.0,-0.039,24427732,0.013008
171,2005,Venezuela,437087.0,1076474.0,-22740.0,-0.180,26668790,0.016389
172,2010,Venezuela,560528.0,1347347.0,-200220.0,-1.460,28715026,0.019520
173,2015,Venezuela,709140.0,1404448.0,-431040.0,-2.946,30529722,0.023228
174,2020,Venezuela,5415337.0,1324193.0,-3266243.0,-22.327,28490458,0.190075

                                Year      Emigrants      \
                                mean std       mean std
Country   relative migration
Argentina 0.013180            1990.0 NaN   430155.0 NaN
          0.013792            1995.0 NaN   481968.0 NaN
          0.014986            2000.0 NaN   555542.0 NaN
          0.020611            2005.0 NaN   805291.0 NaN
          0.021819            2015.0 NaN   943843.0 NaN
...                              ...  ..        ...  ..
Venezuela 0.013008            2000.0 NaN   317753.0 NaN
          0.016389            2005.0 NaN   437087.0 NaN
          0.019520            2010.0 NaN   560528.0 NaN
          0.023228            2015.0 NaN   709140.0 NaN
          0.190075            2020.0 NaN  5415337.0 NaN

                             International migrants     Net migration      \
                                               mean std          mean std
Country   relative migration
Argentina 0.013180                        1649919.0 NaN      160000.0 NaN
          0.013792                        1595069.0 NaN     -105000.0 NaN
          0.014986                        1540219.0 NaN     -128000.0 NaN
          0.020611                        1674163.0 NaN     -125000.0 NaN
          0.021819                        2086301.0 NaN       30000.0 NaN
...                                             ...  ..           ...  ..
Venezuela 0.013008                        1013738.0 NaN       -4540.0 NaN
          0.016389                        1076474.0 NaN      -22740.0 NaN
          0.019520                        1347347.0 NaN     -200220.0 NaN
          0.023228                        1404448.0 NaN     -431040.0 NaN
          0.190075                        1324193.0 NaN    -3266243.0 NaN

                             Net migration rate      Population
                                           mean std        mean std
Country   relative migration
Argentina 0.013180                        1.019 NaN  32637658.0 NaN
          0.013792                       -0.623 NaN  34946116.0 NaN
          0.014986                       -0.714 NaN  37070772.0 NaN
          0.020611                       -0.660 NaN  39070504.0 NaN
          0.021819                        0.143 NaN  43257064.0 NaN
...                                         ...  ..         ...  ..
Venezuela 0.013008                       -0.039 NaN  24427732.0 NaN
          0.016389                       -0.180 NaN  26668790.0 NaN
          0.019520                       -1.460 NaN  28715026.0 NaN
          0.023228                       -2.946 NaN  30529722.0 NaN
          0.190075                      -22.327 NaN  28490458.0 NaN

[175 rows x 12 columns]

In [345]:
tabla.to_sql('tab',conn,index=False)

175

In [375]:
promedio=pd.read_sql('SELECT Country,AVG(`relative migration`) as prom FROM tab GROUP BY Country ORDER BY prom DESC',conn)

In [376]:
promedio

          Country      prom
0          Guyana  0.496219
1     Puerto Rico  0.441310
2        Barbados  0.349197
3         Jamaica  0.332393
4     El Salvador  0.207697
5           Haiti  0.110594
6            Cuba  0.109478
7         Bahamas  0.105022
8        Paraguay  0.103447
9       Nicaragua  0.101635
10         Mexico  0.089952
11        Uruguay  0.088944
12       Honduras  0.061352
13      Guatemala  0.057278
14        Bolivia  0.056315
15        Ecuador  0.052365
16       Colombia  0.045655
17         Panama  0.042603
18      Venezuela  0.040365
19         Canada  0.036160
20          Chile  0.034284
21           Peru  0.033043
22     Costa Rica  0.026516
23      Argentina  0.018732
24  United States  0.007780

In [ ]:
def grafica(nombre_pais):
    nombre_pais=tabla[tabla["Country"]==nombre_pais]
    plt.plot(nombre_pais['Year'],nombre_pais['relative migration'])
    plt.legend(nombre_pais['Country'])
    plt.show()

In [336]:
def grafica(nombre_pais):
    nombre_pais=tabla[tabla["Country"]==nombre_pais]
    plt.plot(nombre_pais['Year'],nombre_pais['relative migration'])
    plt.legend(nombre_pais['Country'])
    plt.show()